body {
    background-image: url("../img/stars.jpg");
}
.container {
    width: 1060px;
    padding: 0 10px 10px 10px;
}
.application {
    border: 2px solid black;
    padding: 10px;
    background-color: #f3f0f0;
}
.container h2 {
    text-align: center; 
}